@CHARSET "ISO-8859-1";

html,body{
	margin:0;
	padding:0;
	border:0;
}

body{
	background-image: url("../images/fundo2.jpg");
}

.form-layout {
	background-color: #ffff80;
	align: center;
}

.est{
  	padding: 0.3em 0.5em 0.3em;
    padding-top: 0.5em;
    padding-right-value: 1em;
    padding-bottom: 0.3em;
    padding-left-value: 1em;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
}




.button {
   border-top: 1px solid #d1cdcd;
   background: #e32929;
   background: -webkit-gradient(linear, left top, left bottom, from(#eb6f85), to(#e32929));
   background: -webkit-linear-gradient(top, #eb6f85, #e32929);
   background: -moz-linear-gradient(top, #eb6f85, #e32929);
   background: -ms-linear-gradient(top, #eb6f85, #e32929);
   background: -o-linear-gradient(top, #eb6f85, #e32929);
   padding: 4.5px 9px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 10px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #e66161;
   background: #e66161;
   color: #cccccc;
   }
.button:active {
   border-top-color: #e63737;
   background: #e63737;
   }
.ui-widget-content{
  background-image: url("../images/fundo1.jpg")
  }
.button {
    
    min-width:60px;
    height:40px;
  	border:none;
  	border-radius:3px;
  	font:bold 20px Arial;
}
#container{
	margin-top:40px!important;
	width:1250px;
	margin:40px auto 0px auto;
	
}

#container2{
	margin-top:100px!important;
	width:960px;
	margin:100px auto 0px auto;
}
.titulo1 {
	background-color: #ffffff;
	color: #000000;
	font:bold 32px Arial;
}

.btn-numeric {
    background-color:#000000;
    color:#ffffff;
    min-width:70px;
    height:50px;
    font:bold 20px Arial;
}
.btn-equal {
    
    min-width:70px;
    height:50px;
  	border:none;
  	
  	font:bold 20px Arial;
}

.btn-equal {
   border-top: 1px solid #d1cdcd;
   background: #2bbbe3;
   background: -webkit-gradient(linear, left top, left bottom, from(#2bbbe3), to(#397cdb));
   background: -webkit-linear-gradient(top, #2bbbe3, #397cdb);
   background: -moz-linear-gradient(top, #2bbbe3, #397cdb);
   background: -ms-linear-gradient(top, #2bbbe3, #397cdb);
   background: -o-linear-gradient(top, #2bbbe3, #397cdb);
   padding: 4.5px 9px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 10px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.btn-equal:hover {
   border-top-color: #57a7e0;
   background: #57a7e0;
   color: #cccccc;
   }
.btn-equal:active {
   border-top-color: #37b2e6;
   background: #37b2e6;
   }


.btn-operation {
    background-color:#808080;
    color:#ffffff;
    min-width:72px;
    height:50px;
    font:bold 20px Arial;
}

.btn-clear {
    background-color:#d64044;
}

.btn-fn {
    background-color:#c0c0c0;
    color:#000000;
    width:72px;
    height:34px;
    font:italic 14px Arial;
}

.txtareascientificdisplay {
	background-color:#ffffff;
	color:#000000;
	width:742px;
    height:80px;
    align: left;
    valign: button;
    font:18px Arial;
}

.txtareabasicdisplay {
	background-color:#ffffff;
	color:#000000;
	width:380px;
    height:80px;
    align: left;
    valign: button;
    font:18px Arial;
}
ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
	width:100%;
}

.tipoCalc{
	float:right;
}

a:link,a:active,a:visited{
	text-decoration:none;
}

li{
	display:block;
	width:100%;
	
}
#hist > li,#hist1 > li {
	padding:5px;
}
#hist > li:hover,#hist1 > li:hover {
	cursor:pointer;
	background-color:#11B7D2;
	opacity:0.6;
	moz-opacity;0.6;
	border-radius:5px;
	color:#ffffff;
}

.painelHist{
	 float: right;
}

#basic_footer{
	font-size:0.8em;
}

th,.tabela td{
	font:normal 1.2em arial;
	color:#666666;
}
.tabela td{
	padding:0px 10px;
}
.tabela td, footer{
	font:normal .9em arial;
}

footer{
	color:#666666;
	text-align: center;
	margin-top:30px;
	padding: 10px;
	background-color:#ddd;
}